.container-utama-profile {
    padding: 40px;
    background-color: transparent;
}

.container-menu-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-judul-menu-profile {
    max-width: 900px;
    margin-bottom: 40px;
    padding: 0 10px;
}

.judul-menu-profile {
    color: var(--color-blue);
}

.deskripsi__menu-profile {
    font-size: var(--font-size-base);
    color: var(--color-text-mid);
}

/* ===== Form Diabtes (Kiri) ===== */
.container-form-profile{
    display: flex;
    gap: 40px;
}
.kolom-input-form {
    flex: 2;
    padding: 30px;
    border-radius: 15px;
    box-shadow: var(--color-shadow-large);
}

.card-profile {
    background-color: var(--color-card-bg);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.form__judul-profile {
    font-size: var(--font-size-title-4);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 5px;
}

.form__deskripsi-profile {
    font-size: 14px;
    color: var(--color-text-light);
    margin-bottom: 25px;
}

.form__input-profile {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: var(--font-size-base);
    color: var(--color-text-dark);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form__input-profile:focus {
    border-color: var(--color-blue);
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 168, 232, 0.2);
}

/* ===== Kolom Hasil AI (kanan)===== */
.kolom-hasil-ai-profile {
    flex: 1;
    padding: 30px;
    border-radius: 15px;
    box-shadow: var(--color-shadow-large);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.card-ai-profile {
    background-color: var(--color-card-bg);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.hasil-ai-profile__judul_good {
    font-size: 30px;
    font-weight: var(--font-weight-extrabold);
    color: #4CAF50;
    margin-bottom: 10px;
}

.hasil-ai-profile__konten_good {
    background-color: #e0fff0;
    width: calc(100% + 60px);
    margin: -30px -30px 20px -30px;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 15px 15px 0 0;
    position: relative;
    z-index: 10;
}

.hasil-ai-profile__judul_bad {
    font-size: 30px;
    font-weight: var(--font-weight-extrabold);
    color: #F44336;
    margin-bottom: 10px;
}

.hasil-ai-profile__konten_bad {
    background-color: #FFDCDA;
    width: calc(100% + 60px);
    margin: -30px -30px 20px -30px;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 15px 15px 0 0;
    position: relative;
    z-index: 10;
}

.hasil-ai-profile__deskripsi {
    font-size: 14px;
    color: var(--color-text-mid);
    margin-bottom: var(--spacing-base);
}

.hasil-ai-profile__gambar {
    max-width: fit-content;
    height: auto;
    margin: 10px 0 20px 0;
}

.hasil-ai-profile__tombol-generate {
    width: 100%;
    padding: 12px 0;
    border-radius: 8px;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-medium);
    margin-top: auto;
    margin-bottom: 10px;
}